runs/
backups/
__pycache__/
tb/a.out
drc_run_*
lvs_run_*
*.vcd
*.raw
*.log
.DS_Store
*.pyc
*.ext
venv/
/.venv
/build
/IHP
/sscs-ose-code-a-chip/IHP
/sscs-ose-code-a-chip/pdk
/sscs-ose-code-a-chip/magic
/schematic/simulations
/testbenches/simulations
/doc/.quarto/
/doc/_site/
/doc/videos/sparx_gen_60ghz_to_300ghz_orig.mp4
/scripts/six_port_area_optimized.py
/scripts/six_port_flex.py
/verification/s-parameter
sparx_powdet_sbd.nodes
sparx_powdet_sbd.sim